<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/mystyle.css}" type="text/css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery/jquery.js}"></script>
</head>

<div th:replace="layouts/navbar :: navbar"></div>
<div th:replace="layouts/header :: header"></div>
<div th:replace="layouts/detail_main :: detail_main" ></div>
<div th:replace="layouts/footer :: footer"></div>

<script type="text/javascript" th:src="@{/js/public.js}"></script>

</body>
</html>