
@charset "utf-8";

.indexbg{
	min-height: 100%;
	background: #f4f5f9;
	position: relative;
}

.logo{
	text-align: left;
	min-height: 70px;
}

.indexbanner{
	margin-bottom: 10px;
	min-height: 300px;
	background: #edeef2;
}

.slider{
	margin: 30px 0;
	text-align: left;
	width: 620px;
	float: left;
}

.login{
	width: 320px;
	margin: 40px 0;
	height: 220px;
	float: right;	
	padding-top: 10px;
	text-align: left;
	border-left: 1px solid #e3e5e8;
	border-right: 1px solid #e3e5e8;
}

.login_form{
	margin: 10px;
	text-align: center;
}

.login_form td{
	font-size: 12px;
	padding: 3px;
	color: #4f5c6d;
}

.introbox{
	position: relative;
	width: 199px;
	float: left;
	padding: 20px;
	border-left: 1px solid #e3e5e8;
	border-right: 1px solid #e3e5e8;
	font-size: 18px;
	margin-left: -1px;
	font-weight: bold;
	color: #4f5c6d;
}

.introbox img{
	position: relative;
	top: 10px;
}

.introbox ul{
	margin-top: 10px;
	list-style: disc;
	font-size: 14px;
}

.lof-slidecontent, 
.lof-slidecontent a{
	color: #FFF;	
	width: 625px; 
	height: 242px;
}

.lof-slidecontent a.readmore{
	color: #58B1EA;
	font-size: 95%;
}

.lof-slidecontent{
	position: relative;
	overflow: hidden;
	border: none;
	background: url(images/bg_trans.png);
	height: 242px;
	width: 625px;
}

.lof-slidecontent .preload{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100000;
	text-align: center;
	background: #FFF
}

.lof-slidecontent .preload div{
	height: 100%;
	width: 100%;
	background: transparent url(images/loading.gif) no-repeat scroll 50% 50%;
}

.lof-main-outer{
	position: relative;
	height: 100%;
	width: 900px;
	z-index: 3px;
	overflow: hidden;
}

.lof-main-item-desc{
	z-index: 100px;
	position: absolute;
	bottom: 50px;
	left: 0px;
	width: 350px;
	background: url(images/bg_trans.png);
	height: 100px;
	padding: 10px;
}

.lof-main-item-desc p{
	margin: 0 8px;
	padding: 8px 0
}

.lof-main-item-desc h3{
	padding: 0;
	margin: 0
}

.lof-main-item-desc h2{
	padding: 0;
	margin: 15px 0 0 0px;
}

.lof-main-item-desc h3 a{	
	margin: 0;
	background: #C01F25;
	font-size: 75%;
	padding: 2px 3px;
	font-family: "Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
	text-transform: uppercase;
	text-decoration: none
}

.lof-main-item-desc h3 a:hover{
	text-decoration: underline;
}

.lof-main-item-desc h3 i{
	font-size: 70%;
}

ul.lof-main-wapper{
	overflow: hidden;
	background: transparent url(images/loading.gif) no-repeat scroll 50% 50%;
	padding: 0px;
	margin: 0;
	position: absolute;
	overflow: hidden;
}

ul.lof-main-wapper li{
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	float: left;
	position: relative;
}

.lof-opacity{
	overflow: visible  !important;;
	position: absolute !important;
}

.lof-opacity  li{
	position: absolute  !important;;
	top: 0;
	left: 0;
	float: inherit  !important;
}

ul.lof-main-wapper li img{
	padding: 0px;	
}

.lof-navigator-wapper{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: url(images/bg_trans.png);
	padding: 5px 15px;
}

.lof-navigator-outer{
	position: relative;
	z-index: 100;
	height: 180px;
	width: 310px;
	overflow: hidden;
	color: #FFF;
	float: left;
}

ul.lof-navigator{
	top: 0;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
}

ul.lof-navigator li{
	cursor: hand; 
	cursor: pointer;
	list-style: none;
	padding: 0;
	margin-left: 0px;
	overflow: hidden;
	float: left;
	display: block;
	text-align: center;
}

ul.lof-navigator li.active, 
ul.lof-navigator li:hover{
	background: #fff;
	color: #000;
	display: block;
}